.button {
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

#btnTambahPerusahaan {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 18;
}

#btnPilih {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14;
}
